.card-item {
    background-color: var(--bg-light-solid);
    border: 1px solid rgba(0, 0, 0, 0.05);
    height: 100%;
}

/* .card-item__link {} */

.card-item__cover {
    display: flex;
    position: relative;
}

.card-item__cover:hover .card-item__img--back {
    display: block;
}

.card-item__cover:hover .card-item__img--front {
    display: none;
}

.card-item__cover img {
    animation: fade 1.5s;
}

/* .card-item__img--front {} */

.card-item__img--back {
    display: none;
}

.card-item__tag {
    background-color: var(--primary-solid);
    color: var(--font-light-solid);
    position: absolute;
    right: 0;
    padding: var(--spacing-8) var(--spacing-20);
    font-size: var(--font-xsmall);
    font-weight: 500;
}

.card-item__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
    padding: var(--spacing-16);
}
.card_item__license {
    font-size: var(--font-xsmall);
    font-weight: var(--font-weight-500);
}

.card-item__name {
    font-size: var(--font-medium);
    font-weight: var(--font-weight-700);
}

.card-item__price {
    font-size: var(--font-small);
    font-weight: var(--font-weight-400);
}

.card-item__promo {
    font-size: var(--font-xxsmall);
    font-weight: var(--font-weight-700);
    color: var(--secondary-solid);
}


/* ANIMACIONES */ 

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
