/* <form> */
.form__container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-36);
}

/* <label> */
.form__label {
    font-size: var(--font-large);
    font-weight: 400;
}

.form__label--terms {
    font-size: var(--font-medium);
    font-weight: 400;
}

.form__label--terms > a {
    color: var(--secondary-solid);
}

/* <input type="text"> | <input type"email"> | <input type="password"> */
.form__text,
.form__email,
.form__password {
    border: none;
    border-bottom: 2px solid var(--primary-solid);
    font-size: var(--font-small);
    font-weight: 400;
}

.form__text::placeholder,
.form__email::placeholder,
.form__password::placeholder {
    color: var(--font-light-placeholder);
}

/* <button> */
.form__button {
    border: none;
    padding: var(--spacing-12) var(--spacing-24);
    background-color: var(--dark-500);
    transition: var(--transition-links);
    font-family: var(--font-base);
    font-size: var(--font-xxsmall);
    color: var(--font-light-solid);
    font-weight: 400;
}

.form__button:hover {
    background-color: var(--primary-solid);
    cursor: pointer;
}
