/* --- ESTILOS GENERALES --- */
header,
footer {
    font-family: var(--font-alternative);
    color: var(--font-light-solid);
    background-color: var(--bg-dark-solid);
}

/* --- HEADER --- */
header {
    padding: var(--spacing-36) var(--spacing-100);
}

/* --- NAVBAR --- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo--header {
    max-width: 370px;
}

.navbar__logo--footer {
    max-width: 140px;
}

/* Menú para las páginas admin */
.navbar__menu--admin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-68);
}

/* Menú para las páginas shop */
.navbar__menu--shop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-36);
}

/* Submenú para las páginas shop */
.submenu {
    display: none;
    position: absolute;
    background-color: var(--bg-dark-solid);
    /* width: 20rem; */
    z-index: 10;
}

.with-submenu {
    position: relative;
}

.with-submenu:hover .submenu {
    display: block;
}

/* .submenu__item {} */

.submenu__link {
    display: block;
    padding: var(--spacing-8) var(--spacing-16);
    font-size: var(--font-medium);
    transition: var(--transition-links);
}

.submenu__link:hover {
    background-color: var(--primary-900);
}


/* .navbar__item {} */

.navbar__link {
    display: block;
    font-size: var(--font-medium-20);
    font-weight: 400;
    padding: var(--spacing-8) var(--spacing-16);
    transition: var(--transition-links);
}

.navbar__link:hover {
    background-color: var(--primary-900);
}

/* .navbar__cart {} */

/* --- FOOTER -- */
footer {
    padding: var(--spacing-100) var(--spacing-100) var(--spacing-16) var(--spacing-100);
}

.footer__copy {
    font-family: var(--font-alternative);
    font-size: var(--font-medium-20);
    font-weight: 400;
    text-align: center;
    margin-top: var(--spacing-36);
}
