/* --- ESTILOS GENERALES --- */
header,
footer {
    font-family: var(--font-alternative);
    color: var(--font-light-solid);
    background-color: var(--bg-dark-solid);
}

/* --- HEADER --- */
header {
    padding: var(--spacing-36) var(--spacing-100);
}

/* --- NAVBAR --- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo--header {
    max-width: 370px;
}

.navbar__logo--footer {
    max-width: 140px;
}

/* Logo para responsive de celulares */
.navbar__logo--response {
    display: none;
}

/* Menú para las páginas admin */
.navbar__menu--admin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-68);
}

/* Menú para las páginas shop */
.navbar__menu--shop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-36);
    padding-left: var(--spacing-36);
}

/* Submenú para las páginas shop */
.submenu {
    display: none;
    position: absolute;
    background-color: var(--bg-dark-solid);
    /* width: 20rem; */
    z-index: 10;
}

.with-submenu {
    position: relative;
}

.with-submenu:hover .submenu {
    display: block;
}

/* .submenu__item {} */

.submenu__link {
    display: block;
    padding: var(--spacing-8) var(--spacing-16);
    font-size: var(--font-medium);
    transition: var(--transition-links);
}

.submenu__link:hover {
    background-color: var(--primary-900);
}


/* .navbar__item {} */

.navbar__link {
    display: block;
    font-size: var(--font-medium-20);
    font-weight: 400;
    padding: var(--spacing-8) var(--spacing-16);
    transition: var(--transition-links);
}

.navbar__link:hover {
    background-color: var(--primary-900);
}

/* .navbar__cart {} */

.navbar__bar {
    display: none;
    font-size: var(--font-jumbo);
    cursor: pointer;
}

/* --- DROPDOWN MENU RESPONSIVE --- */
.dropdown-menu {
    display: none;
    background-color: var(--bg-dark-solid);
    padding-top: var(--spacing-16);
}

.dropdown-menu__item {
    text-align: center;
}

/* --- FOOTER -- */
footer {
    padding: var(--spacing-100) var(--spacing-100) var(--spacing-16) var(--spacing-100);
}

.footer__copy {
    font-family: var(--font-alternative);
    font-size: var(--font-medium-20);
    font-weight: 400;
    text-align: center;
    margin-top: var(--spacing-36);
}

/* --- BREAKPOINTS --- */
@media screen and (min-width: 1150px) {
    /* Con esto el dropdown se oculta si está abierto y se agranda el viewport */
    .dropdown-menu {
        display: none !important;
    }
}

/* Tablets */
@media screen and (max-width: 1150px) {
    /* HEADER */
    header {
        position: sticky;
        top: 0;
        z-index: 20;
    }

    /* DROPDOWN */
    .navbar__bar {
        display: block;
    }
    .navbar__item {
        display: none;
    }

    /* FOOTER */
    footer {
        padding: var(--spacing-36) var(--spacing-48);
    }
}

/* Celulares */
@media screen and (max-width: 650px) {
    /* Activar el logo responsive */
    .navbar__logo {
        display: none;
    }
    .navbar__logo--response {
        display: inline-block;
    }

    /* HEADER */ 
    header {
        padding: var(--spacing-16) var(--spacing-36);
    }

    header .navbar__logo--response {
        max-width: 100px;
    }

    /* FOOTER */
    footer .navbar {
        flex-direction: column;
        align-items: center;
        gap: var(--spacing-16);
        position: relative;
    }

    .navbar--footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer .navbar__logo--response {
        /* max-width: 200px; */
        position: absolute;
        left: 0;
    }

    .footer__copy {
        margin-top: var(--spacing-100);
    }
}
