*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: var(--font-base);
    color: var(--dark-solid);
}

/* Con esto evito que haya contenido vacío cuando se achica el zoom del navegador*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body > main {
    flex: 1;
}

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

p {
    font-size: 1.8rem;
}

ul, ol {
    list-style-type: none;
}

img {
    width: 100%;
}

