/* --- Chevrones --- */
button > iconify-icon {
    color: var(--bg-dark-solid);
    font-size: var(--font-xlarge);
    font-weight: 700;
    transition: color .05s ease-in-out;
}

/* --- Glider --- */
.glide {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-48);
    margin-top: var(--spacing-36);
}

.glide__title {
    font-family: var(--font-alternative);
    font-size: var(--font-display);
    font-weight: 700;
}

.glide__item {
    transition: transform 0.5s ease;
}

.glide__item:hover {
    transform: scale(95%);
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}

.glide__slide {
    /* Esto evita que al achichar el viewport algunas tarjetas sean más grandes 
    que otras. */
    height: inherit;
}

.glide__arrow--left {
    left: -6em;
    transition: var(--transition-links);
}

.glide__arrow--right {
    right: -6em;
    transition: var(--transition-links);
}

.glide__arrow--right:hover,
.glide__arrow--left:hover {
    background-color: var(--primary-500);
}

.glide__arrow--right:hover > iconify-icon,
.glide__arrow--left:hover > iconify-icon {
    color: var(--font-light-solid);
}

/* BREAKPOINTS */
/* Celulares */
@media screen and (max-width: 535px) {
    .glide__arrow--left {
        left: 0;
    }
    
    .glide__arrow--right {
        right: 0;
    }
}
