/* Chevron */
button > iconify-icon {
    color: var(--bg-dark-solid);
    font-size: var(--font-xlarge);
    font-weight: 700;
    transition: color .05s ease-in-out;
}

/* Glider */
.glide__slide {
    /* Esto evita que al achichar el viewport algunas tarjetas sean más grandes 
    que otras. */
    height: inherit;
}

.glide__arrow--left {
    left: -6em;
    transition: var(--transition-links);
}

.glide__arrow--left:hover {
    background-color: var(--primary-500);
}

.glide__arrow--left:hover > iconify-icon {
    color: var(--font-light-solid);
}

.glide__arrow--right {
    right: -6em;
    transition: var(--transition-links);
}

.glide__arrow--right:hover {
    background-color: var(--primary-500);
}

.glide__arrow--right:hover > iconify-icon {
    color: var(--font-light-solid);
}

/* BREAKPOINTS */
/* Celulares */
@media screen and (max-width: 535px) {
    .glide__arrow--left {
        left: 0;
    }
    
    .glide__arrow--right {
        right: 0;
    }
}
